<%= form_for(@customer_order) do |f| %>
  <% if @customer_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_order.errors.count, "error") %> prohibited this customer_order from being saved:</h2>

      <ul>
      <% @customer_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.date_select :order_date %>
  </div>
  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
